[user]
  name = Raffael Schmid
  email = raffael@yux.ch
	signingkey = 5D46F536

[hub]
  protocol = git

[credential]
  helper = /opt/boxen/bin/boxen-git-credential

[core]
	excludesfile = /Users/raf/dotfiles/gitignore

[push]
  default = simple

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[diff]
	compactionHeuristic = true

[pager]
  log = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
  diff = diff-so-fancy | less --tabs=4 -RFX

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	gpgsign = true
  verbose = true
[rebase]
	instructionFormat = (%an <%ae>) %s
[alias]
	sync = !zsh -ic git-sync
