[user]
	name = Raffael Schmid
	email = raffael@yux.ch
	signingkey = 5D46F536

[hub]
  protocol = git

[core]
	excludesfile = /Users/raf/dotfiles/gitignore

[push]
  default = simple

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[diff]
	compactionHeuristic = true

[pager]
  log = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
  diff = diff-so-fancy | less --tabs=4 -RFX

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[merge]
  tool = vimdiff
	renameLimit = 999999

[mergetool]
  prompt = true

[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[commit]
	gpgsign = true
  verbose = true

[rebase]
	instructionFormat = (%an <%ae>) %s

[alias]
	sync = !zsh -ic git-sync
	sl = log --oneline --decorate --graph --all -20
	sla = log --oneline --decorate --graph --all
[log]
  date = short
[format]
  pretty = format:%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[diff "sopsdiffer"]
	textconv = sops -d
