<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>Caddy</string>
	<key>ProgramArguments</key>
	<array>
    <string>/Users/raf/dotfiles/bin/caddy</string>
		<string>-agree</string>
		<string>-conf</string>
    <string>/Users/raf/.caddy/Caddyfile</string>
		<string>-disable-http-challenge</string>
		<string>-email</string>
		<string>devel@yux.ch</string>
		<string>-https-port</string>
		<string>8443</string>
		<string>-http-port</string>
		<string>8080</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>CADDYPATH</key>
    <string>/Users/raf/.caddy</string>
		<key>DNSIMPLE_EMAIL</key>
    <string>::DNSIMPLE_EMAIL::</string>
		<key>DNSIMPLE_OAUTH_TOKEN</key>
    <string>::DNSIMPLE_TOKEN::</string>
	</dict>

	<key>InitGroups</key>
	<true/>

	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<true/>
	</dict>

	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>8192</integer>
	</dict>
	<key>HardResourceLimits</key>
	<dict/>

	<key>WorkingDirectory</key>
  <string>/Users/raf/dotfiles</string>

	<key>StandardErrorPath</key>
  <string>/usr/local/var/log/caddy/error.log</string>
	<key>StandardOutPath</key>
  <string>/usr/local/var/log/caddy/info.log</string>
</dict>
</plist>
